/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #040404;
  height: 95vh;
  max-height:100%;
  background-color: #ffffff;
}

a {
  color: #2e416a;
  text-decoration: none;
}


/* -----------------------
Layout 
------------------------*/

.container {
  max-width: 70em;
  margin: 0 auto;
}
.header {
  font-family: 'Handlee', cursive;
  color: #fff;
  background: #7eabac;
  padding: 0.5em 0em;
}
.header-heading {
  margin: 0;
  max-width: 300px;
  max-height: 300px;
}
.nav-bar {
  background: #e9f1f1;
  padding: 0;
}
.content {
  text-align: center;
  overflow: hidden;
  padding: 1em 1.25em;
  background-color: #fff;
}
.main,
.zijkant {
  margin-bottom: 1em;
}
.footer {
  color: #fff;
  background: #7eabac;
  padding: 1em 1.25em;
  display: flex;
}
.footer p{
  margin-right:15px;
}
/* -----------------------
Navbar
------------------------*/

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
}
.nav li {
  display: inline;
  margin: 0;
}
.nav a {
  display: block;
  padding: .7em 1.25em;
  color: black;
  text-decoration: none;
}
.nav a:link {
  color: black;
}
.nav a:visited {
  color: black;
}
.nav a:focus {
  color: black;
  background-color: white;
}
.nav a:hover {
  color: black;
  background-color: #eededb;
}
.nav a:active {
  color: white;
  background-color: #f4ebe9;
}