/* -------------------------------- 

General Style

-------------------------------- */

  .cd-intro-content {
    /* vertically align inside its parent */
    display: inline;
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cd-intro-content h1 {
    font-size: 2.4rem;
  }
  .cd-intro-content p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 1em 0;
    color: #6d7a97;
  }
  .cd-intro-content .action-wrapper {
    display: inline-block;
  }
  .cd-intro-content .action-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-intro-content .action-wrapper > * {
    float: left;
  }
  @media only screen and (min-width: 768px) {
    .cd-intro-content h1 {
      font-size: 5.2rem;
      font-weight: 300;
    }
    .cd-intro-content p {
      font-size: 1.6rem;
      margin: 1.5em 0 1.9em;
    }
  }
  
  .cd-btn {
    display: inline-block;
    padding: 1.2em 1.4em;
    font-size: 1.3rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #202e4a;
    border-radius: .25em;
    margin-right: 1.5em;
  }
  .cd-btn:nth-of-type(2) {
    margin-right: 0;
  }
  .cd-btn.main-action {
    background-color: #fb5e58;
  }
  @media only screen and (min-width: 480px) {
    .cd-btn {
      padding: 1.2em 1.6em;
    }
  }
  @media only screen and (min-width: 768px) {
    .cd-btn {
      padding: 1.4em 1.8em;
    }
  }
  
  .cd-intro-content h1,
  .cd-intro-content h1 span,
  .cd-intro-content p,
  .cd-intro-content .cd-btn {
    opacity: 0;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .no-cssanimations .cd-intro-content h1, .no-cssanimations
  .cd-intro-content h1 span, .no-cssanimations
  .cd-intro-content p, .no-cssanimations
  .cd-intro-content .cd-btn {
    opacity: 1;
  }
  
  /* -------------------------------- 
  
  Bouncy 
  
  -------------------------------- */
  .bouncy.cd-intro-content h1 {
    -webkit-animation-name: cd-bounce-right;
    -moz-animation-name: cd-bounce-right;
    animation-name: cd-bounce-right;
  }
  
  .bouncy.cd-intro-content p {
    -webkit-animation-name: cd-bounce-left;
    -moz-animation-name: cd-bounce-left;
    animation-name: cd-bounce-left;
  }
  
  .bouncy.cd-intro-content h1,
  .bouncy.cd-intro-content p {
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    animation-duration: 0.6s;
  }
  
  .bouncy.cd-intro-content .cd-btn {
    -webkit-animation-name: cd-bounce-rotate;
    -moz-animation-name: cd-bounce-rotate;
    animation-name: cd-bounce-rotate;
  }
  
  .bouncy.cd-intro-content .cd-btn {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  
  .bouncy.cd-intro-content .cd-btn.main-action {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  @-webkit-keyframes cd-bounce-right {
    0% {
      opacity: .2;
      -webkit-transform: translateX(-200px);
    }
    60% {
      opacity: .7;
      -webkit-transform: translateX(15px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes cd-bounce-right {
    0% {
      opacity: .2;
      -moz-transform: translateX(-200px);
    }
    60% {
      opacity: .7;
      -moz-transform: translateX(15px);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0);
    }
  }
  @keyframes cd-bounce-right {
    0% {
      opacity: .2;
      -webkit-transform: translateX(-200px);
      -moz-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
      -o-transform: translateX(-200px);
      transform: translateX(-200px);
    }
    60% {
      opacity: .7;
      -webkit-transform: translateX(15px);
      -moz-transform: translateX(15px);
      -ms-transform: translateX(15px);
      -o-transform: translateX(15px);
      transform: translateX(15px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @-webkit-keyframes cd-bounce-left {
    0% {
      opacity: .2;
      -webkit-transform: translateX(200px);
    }
    60% {
      opacity: .7;
      -webkit-transform: translateX(-15px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes cd-bounce-left {
    0% {
      opacity: .2;
      -moz-transform: translateX(200px);
    }
    60% {
      opacity: .7;
      -moz-transform: translateX(-15px);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0);
    }
  }
  @keyframes cd-bounce-left {
    0% {
      opacity: .2;
      -webkit-transform: translateX(200px);
      -moz-transform: translateX(200px);
      -ms-transform: translateX(200px);
      -o-transform: translateX(200px);
      transform: translateX(200px);
    }
    60% {
      opacity: .7;
      -webkit-transform: translateX(-15px);
      -moz-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      -o-transform: translateX(-15px);
      transform: translateX(-15px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @-webkit-keyframes cd-bounce-rotate {
    0% {
      opacity: .2;
      -webkit-transform: perspective(800px) rotateX(-80deg);
    }
    20% {
      opacity: 1;
    }
    60% {
      -webkit-transform: perspective(800px) rotateX(20deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: perspective(800px) rotateX(0);
    }
  }
  @-moz-keyframes cd-bounce-rotate {
    0% {
      opacity: .2;
      -moz-transform: perspective(800px) rotateX(-80deg);
    }
    20% {
      opacity: 1;
    }
    60% {
      -moz-transform: perspective(800px) rotateX(20deg);
    }
    100% {
      opacity: 1;
      -moz-transform: perspective(800px) rotateX(0);
    }
  }
  @keyframes cd-bounce-rotate {
    0% {
      opacity: .2;
      -webkit-transform: perspective(800px) rotateX(-80deg);
      -moz-transform: perspective(800px) rotateX(-80deg);
      -ms-transform: perspective(800px) rotateX(-80deg);
      -o-transform: perspective(800px) rotateX(-80deg);
      transform: perspective(800px) rotateX(-80deg);
    }
    20% {
      opacity: 1;
    }
    60% {
      -webkit-transform: perspective(800px) rotateX(20deg);
      -moz-transform: perspective(800px) rotateX(20deg);
      -ms-transform: perspective(800px) rotateX(20deg);
      -o-transform: perspective(800px) rotateX(20deg);
      transform: perspective(800px) rotateX(20deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: perspective(800px) rotateX(0);
      -moz-transform: perspective(800px) rotateX(0);
      -ms-transform: perspective(800px) rotateX(0);
      -o-transform: perspective(800px) rotateX(0);
      transform: perspective(800px) rotateX(0);
    }
  }